@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.display-flex{
    display: flex;
}
.text-gray{
    color:#424242;
}
.text-light-gray{
    color: #727272;
}
.text-primary{
    color: #FF900E;
}
.navbar{
    justify-content: space-between;
}
.nav-links{
    text-decoration: none;
    font
}
.feature-title{
    font-size: 2.8rem;
    font-weight:700;
}
#quick-list{
    font-weight: 500;
}
.nav-item {
    list-style: none;
    margin-right: 30px;
}
.brand{
    font-weight:700 ;
    font-size: 2.8rem;
}
.nav-item a {
  text-decoration: none;
}
.bg-light{
    background-color: rgba(255,144,14 , 0.1);
}
/* .navbar{
    justify-content: center;
    align-items: center;
} */
.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 2rem;
}
.bg-light{
    background-color: rgba(255,144,14,0.1);
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.15rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}
.banner-img{
    width: 100%;

}
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.our-feature{
    margin-left: 130px;
    max-width: 530px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main >section{
    margin-top: 130px;
}
/*resoponsive*/
@media  screen and (max-width:576px) {
    .navbar,.nav-links{
        flex-direction: column;
    }
    .teams{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1,1fr);
    }
    .our-feature{
        margin-left: 20px;
    }
    
}
#feature-section-title{
    border-left: 5px solid tomato;
    padding-left: 20px;
}
.features{
    gap: 140px;
}
#experience-badge{
    padding: 45px 42px;

}
#experience-year{
    
}
.feature-card,.feature-title{
    font-weight: 600;
    font-size: 1.25rem;
   margin-top:0 ;
   margin-bottom:0;
}
.feature-card{
     padding: 30px;
     border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0,0,0,0.06);
    margin-bottom: 20px;
}
.fact{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    text-align: center;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top:10px ;
}
.fact-description{
    max-width: 540px;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);

}
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-company{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    justify-items: center;
}
.sponsor-company img{
    filter: grayscale(100%);
}

@media screen and (min-width:576px) and (max-width:992px){
    .teams,.navbar,.nav-links{
        flex-direction: column;
    }
    .team-img-container,.facts-container,.sponsor-company{
        grid-template-columns: 1fr;
    }
    .facts-container,.sponsor-company{
        
        justify-items: center;
    }
    .sponsor-company{
        justify-items: center;
        gap: 50px;
    }
    .our-feature{
        margin: 50px auto;
    }
    
}

